<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Add User</title>
</head>
<body>
<form action="#" th:action="@{/addpickup}" th:object="${pickuppoints}" method="post">
    
    <label for="pickupPointName">Pickup Point Name</label>
    <input type="text" th:field="*{pickupPointName}" id="pickupPointName" placeholder="PickupPointName">
    <span th:if="${#fields.hasErrors('pickupPointName')}" th:errors="*{pickupPointName}"></span>
    
    <label for="roadName">Road Name</label>
    <input type="text" th:field="*{roadName}" id="roadName" placeholder="RoadName">
    <span th:if="${#fields.hasErrors('roadName')}" th:errors="*{roadName}"></span>
    
    <label for="longitude">Longitude</label>
    <input type="text" th:field="*{longitude}" id="longitude" placeholder="Longitude">
    <span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"></span>
    
    <label for="latitude">Latitude</label>
    <input type="text" th:field="*{latitude}" id="latitude" placeholder="Latitude">
    <span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></span>
    
    <label for="studentCount">Student Count</label>
    <input type="text" th:field="*{studentCount}" id="studentCount" placeholder="StudentCount">
    <span th:if="${#fields.hasErrors('studentCount')}" th:errors="*{studentCount}"></span>
    
    <input type="submit" value="Add Pickup Point">   
</form>
</body>
</html>