<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Showing PickupPoint Information</title>
</head>

<body>
<div>
<p><a href = "/createpickup">Add Pickup Points</a></p>
<table>
	<thead>
		<tr>
				<th>Id</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Location Point Name</th>
				<th>Road Name</th>
		</tr>
		</thead>
		<tbody>
			 <tr th:each="locationpoint : ${locationpoints}">
			   <td th:text="${locationpoint.location_id}"></td> 
			   <td th:text="${locationpoint.latitude}"></td> 
			   <td th:text="${locationpoint.longitude}"></td> 
			   <td th:text="${locationpoint.locationPointName}"></td>
			   <td th:text="${locationpoint.roadName}"></td> 

			   
			   <td><a th:href="@{/editLocation/{id}(id=${locationpoint.location_id})}">Edit</a></td>
               <td><a th:href="@{/deleteLocation/{id}(id=${locationpoint.location_id})}">Delete</a></td> 
		</tr>
		</tbody>
		</table>
		</div>

</body>
</html>