<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Edit User</title>
</head>
<body>
<form action="#" th:action="@{/updatepickup/{id}(id=${pickuppoint.id})}" th:object="${pickuppoint}" method="post">
<table>
<tr>               
    <td><label for="pickupPointName">Pickup Point Name</label></td>
    <td><input type="text" th:field="*{pickupPointName}" id="pickupPointName" placeholder="PickupPointName"></td>
    <td><span th:if="${#fields.hasErrors('pickupPointName')}" th:errors="*{pickupPointName}"></span></td>
</tr>    
<tr>
    <td><label for="roadName">Road Name</label></td>
    <td><input type="text" th:field="*{roadName}" id="roadName" placeholder="RoadName"></td>
    <td><span th:if="${#fields.hasErrors('roadName')}" th:errors="*{roadName}"></span></td>
</tr>
<tr>    
    <td><label for="longitude">Longitude</label></td>
    <td><input type="text" th:field="*{longitude}" id="longitude" placeholder="Longitude"></td>
    <td><span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"></span></td>
</tr>
<tr>    
    <td><label for="latitude">Latitude</label></td>
    <td><input type="text" th:field="*{latitude}" id="latitude" placeholder="Latitude"></td>
    <td><span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"></span></td>
</tr>
<tr>    
    <td><label for="studentCount">Student Count</label></td>
    <td><input type="text" th:field="*{studentCount}" id="studentCount" placeholder="StudentCount"></td>
    <td><span th:if="${#fields.hasErrors('studentCount')}" th:errors="*{studentCount}"></span></td>
 </tr>
</table>    
    <input type="submit" value="Update Pickup">

</form>
</body>
</html>